@charset "utf-8";

.inner {
  width: 360px;
  padding: 0 18px;
  margin: auto;
  /* text-align: center; */
}
.a_center {
  text-align: center;
}
.visual {
  height: 386px;
  background-image: url(../images/bg_main_3.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
}
.visual h2 {
  padding-top: 127px;
  font-size: 30px;
  line-height: 1.3;
  padding-bottom: 40px;
  text-align: center;
}

.visual p {
  padding-bottom: 28px;
  display: flex;
  justify-content: space-between;

  width: 254px;
  margin: auto;
}
.visual p a {
  border: 1px solid #fff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 122px;
  height: 40px;
}
.visual p i {
  display: inline-block;
  width: 18px;
  height: 20px;
  margin-right: 8px;
}
.visual p i.google {
  background-position: 0 -119px;
}
.visual p i.apple {
  background-position: -18px -119px;
}
section > div {
  padding-top: 60px;
}
section h3 {
  font-size: 24px;
  line-height: 1.35;
  padding-bottom: 24px;
}
section p {
  font-size: 13px;
  line-height: 1.3;
}
section img {
  margin-top: 30px;
}
.con1 {
  padding-bottom: 65px;
}

.con2,
.con6 {
  background-color: #f7f7f7;
}

.con2 {
  position: relative;
}
.con2 .more {
  position: absolute;
  bottom: 25px;
  left: 0;
  width: 100%;
}
.con2 .more a {
  width: 214px;
  height: 40px;
  background-color: #fff;
  border-radius: 20px;
  margin: auto;
  text-align: center;
  line-height: 40px;
  color: #0d5895;
  font-weight: bold;
  border: 1px solid #b5baba;
}
.con3 {
  padding-bottom: 60px;
}
.con3 .inner {
  position: relative;
}
.con3 .gra {
  position: absolute;
  left: 0;
  bottom: 0;
}
.con4 {
  background-color: #559cde;
  color: #fff;
  height: 588px;
  overflow: hidden;
  transition: 0.5s;
}
.con4.bgdark {
  background-color: rgb(31, 8, 73);
}
.con5 .more2 {
  margin: 50px 0 30px 0;
  border: 1px solid #eaeaea;
  padding: 18px;
  border-radius: 3px;
}
.con6 {
  padding-bottom: 83px;
}
.con6 hr {
  width: 68px;
  border-bottom: 1px solid #000;
}
.con6 img {
  width: 100px;
}
.con6 .inner h4 {
  padding-top: 24px;
  padding-bottom: 25px;
  font-weight: bold;
  font-size: 16px;
}
.con6 li {
  padding-bottom: 50px;
  border-bottom: 1px solid #eaeaea;
}
.con6 li:last-child {
  border: 0;
}
.con6 p {
  color: #676767;
}
