section h2 {
  font-size: 16px;
  padding: 18px 0;
  border-bottom: 1px solid #f2f2f2;
  margin: 0 13px;
}
section > div {
  padding-top: 34px;
}
section > div h3 {
  font-size: 17px;
  padding-bottom: 16px;
  padding-left: 16px;
}
section > div > p {
  padding: 0 16px 16px 16px;
  line-height: 1.5;
}

/* section img {
  max-width: 500px;
} */
.sec1 {
}
.sec1 .slide {
  height: 146px;
  overflow: hidden;
  position: relative;
}
.sec1 .slide ul {
  display: flex;
  width: 400%;
  left: 0%;
  position: relative;
}
.sec1 .slide ul li {
  position: relative;
}
.sec1 .slide ul li img {
}
.sec1 .slide ul li p {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 0;
  left: 0;
  color: #fff;
}
.sec1 .slide ul li p.mess {
  top: 20px;
}
.sec1 .slide ul li p.mess span {
  font-size: 3em;
  display: block;
  font-weight: bold;
  text-shadow: 0 0 5px #000;
}
.sec1 .slide ul li p.pages {
  top: 100px;
  text-align: right;
  font-size: 12px;
}
.sec1 .slide ul li p.pages span {
  font-size: 16px;
}
.sec1 .slide p.btns {
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
}
.sec1 .slide .btns .btn_prev {
  background-position: -78px -113px;
  width: 22px;
  height: 42px;
}
.sec1 .slide .btns .btn_next {
  background-position: -53px -113px;
  width: 22px;
  height: 42px;
}
section h3.center {
  text-align: center;
  padding-top: 24px;
  padding-left: 0;
}
section h3.center::after {
  content: '';
  display: block;
  width: 26px;
  height: 1px;
  background-color: #4d4d4d;
  margin: 10px auto;
}
.sec2 {
}
.sec2 .mySwiper {
  margin-left: 20px;
}
.sec2 .mySwiper img {
  width: 100%;
}
.sec2 .mySwiper .tit {
  text-align: center;
  padding-top: 26px;
  padding-bottom: 14px;
  font-weight: bold;
  font-size: 15px;
}
.sec2 .mySwiper .txt {
  text-align: center;
  /* letter-spacing: -1px; */
  padding: 0 20px;
  padding-bottom: 40px;
  font-size: 12px;
}
.mySwiper .swiper-pagination-bullet-active {
  background: #000;
}
.sec3 {
  background-color: #fafafa;
  margin-top: 24px;
  padding-bottom: 40px;
  text-align: center;
}
.sec3 .symbol {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #efefef;
}
.sec3 .tit {
  padding-top: 13px;
  padding-bottom: 10px;
  font-size: 16px;
}
.sec3 .txt {
  font-size: 13px;
}
.sec4 {
  background-color: #f0f0f0;
  padding-bottom: 16px;
}
.sec4 ul {
  display: flex;
  justify-content: center;
}
.sec4 ul li {
  padding: 0 14px;
  position: relative;
}
.sec4 ul li::after {
  content: '';
  display: block;
  width: 2px;
  height: 14px;
  background-color: #ddd;
  position: absolute;
  top: 4px;
  left: 0;
}
.sec4 ul li:first-child::after {
  display: none;
}
.sec4 ul li a {
  width: 15px;
  height: 23px;
  background-position-y: -140px;
}
.sec4 ul li a.fa {
}
.sec4 ul li a.bl {
  background-position-x: -15px;
}
.sec4 ul li a.na {
  background-position-x: -118px;
}
.sec4 ul li a.yo {
  width: 22px;
  background-position-x: -30px;
}
